$color-primary: #004A97;
$red: #F51B1B;
$yellow: #FDBB30;
$white: #fff;
$light-gray: #dedede;
$mid-dark-gray: #898989;
$dark-gray: #525252;
$black: #000000;
$mid-gray: #F4F4F4;
$light-gray: #DEDEDE;
$very-light-gray: #FAFAFA;
$arrow-header-checkout: #1978BE;
$color-discount: #E90000;