@font-face {
  font-family:"Segoe UI";
  src: url('./Segoe_UI.woff') format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family:"Segoe UI";
  src: url('./Segoe_UI_Bold.woff') format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family:"Segoe UI";
  src: url('./Segoe_UI_Italic.woff') format("woff");
  font-display: swap;
  font-style: italic;
  font-weight: normal
}

@font-face {
  font-family:"Segoe UI";
  src: url('./Segoe_UI_Bold_Italic.woff') format("woff");
  font-display: swap;
  font-style: italic;
  font-weight: 700
}